BACKUP_ROOT=/backups/campus_connect
LOG_FILE=/var/log/campus_connect_backup.log

RETENTION_DAILY=7
RETENTION_WEEKLY=4
RETENTION_MONTHLY=6

DB_CONTAINER=campus_connect_db
MINIO_CONTAINER=campus_connect_minio
REDIS_CONTAINER=campus_connect_redis

POSTGRES_USER=connect
POSTGRES_DB=campus_connect
POSTGRES_PASSWORD=<your_real_password>  

MINIO_URL=http://minio:9000
MINIO_ROOT_USER=<your_real_user>
MINIO_ROOT_PASSWORD=<your_real_password>
NEXT_PUBLIC_MINIO_BUCKET=campus-connect
